{% extends 'template.html.twig' %}

{% block title %}Opération{% endblock %}

{% block main %}
  <h2>Réaliser une opération</h2>
  {{ include('messages.html.twig')}}
  <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-4">
        <h4 class="mb-4">Compte de destination</h4>
        <article class="card">
          <div class="card-header">
            <h5 class="card-title">{{account.type}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Numéro de compte : {{account.id}}</h6>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush border-bottom mb-2">
              <li class="list-group-item">Propriétaire : {{ app.user.firstname ~ " " ~ app.user.lastname }}</li>
              <li class="list-group-item">Solde : {{account.amount}}</li>
              <li class="list-group-item">Date d'ouverture : {{account.openingDate | date("d-m-Y")}}</li>
            </ul>
            <a href="{{path("single", {id:account.id})}}" class="btn btn-info">Voir</a>
            <a href="{{path("account_delete", {id:account.id})}}" class="btn btn-info">Clôturer</a>
          </div>
        </article>
      </div>
      <div class="col-12 col-md-6 col-lg-8">
        <h4 class="mb-3">Opération</h4>
        {{form(form)}}
      </div>
    </div>
  {% endblock %}

{% block javascripts %}
{% endblock %}
